@{
    Layout = null;
    My.Blog.DAL.BlogDAL dal = new My.Blog.DAL.BlogDAL();
}
<div class="left-col">
    <div class="overlay"></div>
    <div class="intrude-less">
        <header id="header" class="inner">
            <a href="/" class="profilepic">
                <img lazy-src="/images/头像.jpeg" class="js-avatar">
            </a>

            <hgroup>
                <h1 class="header-author"><a href="/">用户名</a></h1>
            </hgroup>
            <div>
                <div class="layui-input-inline" style="width:150px">
                    <input id="search_key" class="layui-input" type="text" placeholder="标题关键字" />
                </div>
                <div class="layui-input-inline">
                    <button class="layui-btn layui-btn-radius layui-btn-small" type="button" onclick="searchBlog('')">
                        <i class="layui-icon">&#xe615;</i>查询
                    </button>
                </div>
            </div>
            <div class="switch-btn">
                <div class="icon">
                    <div class="icon-ctn">
                        <div class="icon-wrap icon-house" data-idx="0">
                            <div class="birdhouse"></div>
                            <div class="birdhouse_holes"></div>
                        </div>
                        <div class="icon-wrap icon-ribbon hide" data-idx="1">
                            <div class="ribbon"></div>
                        </div>

                        <div class="icon-wrap icon-link hide" data-idx="2">
                            <div class="loopback_l"></div>
                            <div class="loopback_r"></div>
                        </div>


                        <div class="icon-wrap icon-me hide" data-idx="3">
                            <div class="user"></div>
                            <div class="shoulder"></div>
                        </div>

                    </div>

                </div>
                <div class="tips-box hide">
                    <div class="tips-arrow"></div>
                    <ul class="tips-inner">
                        <li>菜单</li>
                        <li>日历</li>
                        <li><a href="javascript:$('#frmNewPost').submit();">发表文章</a></li>
                        <li><a href="javascript:$('#frmLogout').submit();">注销</a></li>
                    </ul>
                </div>
            </div>

            <div class="switch-area">
                <div class="switch-wrap">
                    <section class="switch-part switch-part1">
                        <nav class="header-menu">
                            <ul>
                                @foreach (My.Blog.Model.Category item in ViewBag.calist) {
                                    <li>
                                        <a href="#" onclick="searchBlog('@item.Number')">
                                            @item.CategoryName
                                            (@dal.GetBlogTotalCount($"categoryNum='{ @item.Number}'"))
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                        <nav class="header-nav">
                            <div class="social">
                                <a class="github" target="_blank" href="https://github.com/xiaotian000" title="github">github</a>
                                <a class="linkedin" target="_blank" href="http://www.linkedin.com/in/%E7%A7%8B%E5%AE%9E-%E7%94%B0-146850126" title="LinkedIn">LinkedIn</a>
                                <a class="mail" target="_blank" href="mailto:1756768668@qq.com" title="Email">Email</a>
                            </div>
                        </nav>
                    </section>
                    <section class="switch-part switch-part2">
                        <div class="widget">

                            <nav class="header-menu">
                                <ul>
                                    @foreach (string item in ViewBag.datelist) {
                                        <li>
                                            <a href="#" onclick="searchBlog('@item')">
                                                @item (@dal.GetBlogTotalCount($"createdate like'{ @item }%'"))
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </section>


                </div>
            </div>
        </header>
    </div>
</div>
<div>
    <link href="~/assets/Hexo/css/fancybox.css" rel="stylesheet" />
    <script type="text/javascript" src="assets/shared/scripts/jquery.codecomb.fileupload.js"></script>
    <script src="~/assets/Hexo/js/highlight.js"></script>
    <script src="~/assets/Hexo/js/r.js"></script>
    <script src="~/assets/Hexo/js/main.js"></script>
    <script>
        var yiliaConfig = {
            fancybox: true,
            mathjax: true,
            animate: true,
            isHome: true,
            isPost: false,
            isArchive: false,
            isTag: false,
            isCategory: false,
            open_in_new: false
        }
    </script>


    @*<link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>*@
    @*<script>

        //分页显示
        var pagesize = 5;//每页数据
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage, layer = layui.layer, $ = layui.jquery;
            var url = "/Admin/Blog/GetBlogTotalCount?t=" + new Date().valueOf();
            var postData = getdata('');
            $.post(url, postData, function (count) {
                console.log("取到的博客总数：" + count);
                $('#totalCount').html(count);
                $('#pageCount').html(Math.ceil(count / pagesize));
                //执行一个laypage实例
                laypage({
                    cont: 'pages',
                    pages: Math.ceil(count / pagesize),//js数据除法带小数
                    jump: function (obj) {
                        var pageindex = obj.curr;
                        //读取后台数据返回json后拼接
                        load_blog_data(pageindex, postData);
                    }
                })
            })
        });

        //加载第X页数据，字符串拼接
        function load_blog_data(pageindex, postdata) {
            //  console.log("加载第" + pageindex + "页");
            layui.use('layer', function () {
                var $ = layui.jquery, layer = layui.layer;
                $('#pageIndex').text(pageindex);
                var url = "/Blog/GetBlogList?pageIndex=" + pageindex + "&pagesize=" + pagesize;
                $.post(url, postdata, function (json) {
                    var html = '';
                    $.each(json, function (i, blog) {
                        var class_color = "color" + (i % 5 + 1); //颜色样式color1-5
                        html += '<article class="article article-type-post" itemscope itemprop="blogPost">';
                        html += '    <div class="article-meta">';
                        html += '        <a href="/Blog/Show/' + blog.id + '" class="article-date">';
                        html += '            <time datetime="" itemprop="datePublished">' + blog.createDate + '</time>';
                        html += '        </a>';
                        html += '    </div>';
                        html += '    <div class="article-inner">';
                        html += '        <input type="hidden" class="isFancy" />';
                        html += '        <header class="article-header">';
                        html += '            <h1 itemprop="name">';
                        html += '                <a class="article-title" href="/Blog/Show/' + blog.id + '">' + blog.title + '</a>';
                        html += '            </h1>';
                        html += '        </header>';
                        html += '        <div class="article-entry" itemprop="articleBody">';
                        html += blog.body;
                        html += '        </div>';
                        html += '        <div class="article-info article-info-index">';
                        html += '            <div class="article-tag tagcloud">';
                        html += '                <ul class="article-tag-list">';
                        html += '                    <li class="article-tag-list-item"><a class="' + class_color + '">' + blog.categoryName + '</a></li>';
                        html += '                </ul>';
                        html += '            </div>';
                        html += '            <div class="clearfix"></div>';
                        html += '        </div>';
                        html += '    </div>';
                        html += '</article>';
                    })

                    $('#view').html(html);

                }, 'json');
            })
        }

        //拼接条件返回postData
        function getdata(para) {
            var key = $("#search_key").val();
            var para = para;
            var postData = {
                key: key,
                para: para
            };
            return postData;
        }

        //按条件查询
        function searchBlog(para) {
            layui.use(['laypage', 'layer'], function () {
                var laypage = layui.laypage, layer = layui.layer, $ = layui.jquery;
                var url = "/Blog/GetBlogTotalCount?t=" + new Date().valueOf();
                var postData = getdata(para);
                $.post(url, postData, function (count) {
                    console.log("取到的博客总数：" + count);
                    $('#totalCount').html(count);
                    $('#pageCount').html(Math.ceil(count / pagesize));
                    //执行一个laypage实例
                    laypage({
                        cont: 'pages',
                        pages: Math.ceil(count / pagesize),//js数据除法带小数
                        jump: function (obj) {
                            var pageindex = obj.curr;
                            //读取后台数据返回json后拼接
                            load_blog_data(pageindex, postData);
                        }
                    })
                })
            });
        }

    </script>*@
</div>